@page "/login"
@using GameManager.Page.Models
@using GameManager.Page.Services
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

<div class="col-md-6 offset-md-3 mt-5">
    <div class="alert alert-info">
        Username: admin<br />
        Password: W;L$n,bmXt4!r]s
    </div>
    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <EditForm Model="@_model" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Username</label>
                    <InputText @bind-Value="_model.Username" class="form-control" />
                    <ValidationMessage For="@(() => _model.Username)" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <InputText @bind-Value="_model.Password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => _model.Password)" />
                </div>
                <button class="btn btn-primary">
                    @if (_loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Login
                </button>
                @if (!string.IsNullOrEmpty(_error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@_error</div>
                }
            </EditForm>
        </div>
    </div>
</div>

@code {
    private LoginModel _model = new LoginModel();
    private bool _loading;
    private string _error;

    protected override void OnInitialized()
    {
        if (AuthenticationService.User != null)
        {
            NavigationManager.NavigateTo("");
        }
    }

    private async void HandleValidSubmit()
    {
        _loading = true;
        try
        {
            await AuthenticationService.Login(_model.Username, _model.Password);
            NavigationManager.NavigateTo("/games", true);
        }
        catch (Exception ex)
        {
            _error = ex.Message;
            _loading = false;
            StateHasChanged();
        }
    }

    
}